button { font-weight: bold; background: #64BBE6 linear-gradient(#64BBE6 0%, #64BBE6 50%, #008AC8 100%); color: #FFFFFF; padding: 4px 10px; text-decoration: none; background-size: 100% auto; border: 0 none; width: 83px; margin-top: 1em; margin-bottom: 1em; margin-right: 0.3em; margin-left: 0.3em; }
#output { background: black; color: lightgreen; }
